@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

.emFont {
    font-family: 'Bebas Neue', cursive;
}

#header__intro {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("assets/money.jpeg");
    background-size: 99vw 99vh;
    background-position: top left;
    color: white;
    flex-wrap: wrap;

}

#header__intro h1 {
    z-index: 2;
    font-size: 72px;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

#header__intro h2 {
    z-index: 2;
    font-size: 48px;
    text-align: center;
    color: darkgray;
}

#header__intro::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.stat h1 {
    max-width: 770px;
    font-size: 36px;
}

.big {
    font-size: 60px;
}
#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(#a3d3f6 9%, transparent 10%);
    background-size: 40px 40px;
    background-repeat: repeat;
    padding: 0px 0px 100px 0px;
    height: fit-content;
}
#stats>h1 {
    display: block;
    margin: 100px 0px;
}
@media (max-width: 1000px) {
    .stat {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .stat h1,
    iframe,
    .stat>div,
    .chartcont,
    .sidebyside,
    img:not(.noMobile),
    .sol,
    .card {
        width: 90vw !important;
        max-width: none;
    }

}

#generalInfo {
    background-color: #a9ccbf;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.med {
    font-size: 40px;
    color: rgb(24, 24, 24);
}

#generalInfo>div.info p,
.sol p {
    font-size: 28px;
    width: min(1420px, 80vw);
}
.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#solutions {
    background-color: #f8d48f;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timesfont {
    font-family: 'Times New Roman', Times, serif;
}
.card {
    width: 45%;
    background: white;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 16px white;
    margin: 20px;
}
.sol.best {
    background-color: #f8f38f;
    padding: 20px 40px;
    border-radius: 8px;
}